.comment {
  display: flex;
  padding: 1em;
}

i.small {
  font-size: 3em;
  margin: 0 0.5em;
}

strong {
  margin-right: 0.5em;
  font-weight: 700;
}

p {
  margin-bottom: 0;
  margin-block-start: 0;
    margin-block-end: 0;
}

.lastDate{
    font-size: 12px;
}

@media screen and (max-width: 600px) {
  i.small {
    font-size: 2em;
    margin-right: 0.5rem;
    margin-left: 0;
  }
  strong {
    margin-right: 0.5em;
    font-weight: 500;
  }
  
  p{
    letter-spacing: -0.3px;
  }

}
