<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <div class="input-field col s12">
          <textarea [(ngModel)]="state" (keyup.enter)="post()" name="state" id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Escribe aquí tu estado</label>
        </div>

        <button *ngIf="!isMobile" (click)="post()" class="btn green accent-4 waves-effect right">Publicar</button>
      </div>
    </div>
  </div>
</div>
