textarea{
    padding: .8rem;
}

.card .card-content {
    padding: 4px;
}

.btn{
    margin: 10px;
}

.input-field{
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    textarea{
        border-bottom: 0;
    }

}
