/* You can add global styles to this file, and also import other style files */
.container {
  padding-top: 2em;
  max-width: 700px;
}

.btn,
.btn-large,
.btn-small,
.btn-flat {
  text-transform: none;
}

@media screen and (max-width: 600px) {
  .container {
    padding-top: 2em;
    width: 90%;
  }


}

